@{
    ViewData["Title"] = "Thông tin cá nhân";
}

<h2>Thông tin cá nhân</h2>

<ul>
    <li><strong>Họ và tên:</strong> Đinh Quốc Thái</li>
    <li><strong>MSSV:</strong> 2200000584 </li>
    <li><strong>Ngày sinh:</strong> 05/02/2004</li>
    <li><strong>Email:</strong> thaidinh23091@gmail.com</li>
    <li><strong>Sở thích:</strong> Hát vu vơ</li>
</ul>
